<% provide(:title, 'Home') %>
<%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
<nav id= "premier-nav">
  <ul>     
    <li><%= link_to "1", '#premier', :class => "premier" %></li>
     <li><%= link_to "2", '#one', :class => "one" %></li>
      <li><%= link_to "3", '#two', :class => "two" %></li>
       <li><%= link_to "4", '#three', :class => "tree" %></li>
        <li><%= link_to "5", '#four', :class => "four" %></li>
  </ul>

</nav>
<div id = "premier"><%= image_tag("one.png", alt: "Imaginasion")%> </div>
<div id="grid"></div>
<div id="pictures">
    <div id= "un"><%= image_tag("pict1.png", alt: "")%> </div>
    <div id= "deux"><%= image_tag("pict2.png", alt: "")%> </div>
    <div id= "trois"><%= image_tag("one.png", alt: "Imaginasion")%> </div>
</div>
    <div id="content">
   
      <article id ="home">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 col-xs-6">
                <section class="first"><%= image_tag("v1.png", alt: "Равиль Тумашев", class: "img-responsive img-rounded", id: "v1")%>
                     <h2>Равиль Тумашев</h2>
                      <h3>режиссер</br>
                      cейчас 91 год</br> 
                       в 1941г было 18 лет</h3>
                        <p>Я за одной партой сидел с другом Вячеславом Алимасовым, потом он стал ученым, доктором технических наук. Выпускной у нас был 21 июня. Мы, выйдя из школы, шли со Славой по улице и напевали «Если завтра война, если завтра поход, будь сегодня к походу готов».  Для нас не было неожиданностью, что немцы готовились напасть, но что война завтра наступит, мы не знали, конечно. Нас никто не спрашивал, хотим мы воевать или нет. Мы были призывниками, нас собрали и велели ехать на «пристань». Славу тогда не взяли, у него зрение было плохое, а мы с одноклассниками сели на первый трамвай и поехали. Оттуда нас всех отправили в Чкаловское зенитное училище.</p>
                        <p>Помню, в ночь с 4 на 5 июля 1943 года я получил шифрограмму от командования 307 стрелковой дивизии - немцы хотят начать наступление раньше. Я рванул к командующему армией  Николаю Павловичу Пухову. Часовой мне - пустить не могу, у Пухова важный гость. Я ему говорю: «А если я этому гостю и нужен прямо сейчас?» Часовой разрешил пройти. Я вошел и увидел высокого генерала, козырнул ему так нагло и сказал: «Разрешите обратиться к командующему армии?» Он, конечно, ухмыльнулся от такой смелости и сказал - обращайтесь. Это был мой самый короткий диалог с генералом армии Константином Константиновичем Рокоссовским.  Он приехал, чтобы взять командование на Курской дуге. Так я начал эту операцию своим появлением в кабинете Рокоссовского. 5 июля 1943 года началась знаменитая Курская битва, ставшая переломным сражением Великой Отечественной войны.</p>
                </section>
            </div><!-- col -->
            <div class="col-md-4 col-md-offset-1 col-xs-6">
                <section id= "second"> 
                  <%= image_tag("b1.png", class: "img-responsive img-circle", alt: "", id: "v1")%>
                           <h2>Вячеслав Кузьмин</h2>
                           <h3> режиссер </br>
                         cейчас 18 лет</h3>
                        <p>у меня 23 июня в школе был выпускной, мы до двух ночи в ресторане веселились. Сейчас все мои мысли только о кино. Я собираю статьи про себя: вот тут меня назвали автором блокбастрера, а это в позапрошлом году журналисты приезжали, делали репортаж со съемок фильма «Лифт Ангела». Самый удачный  фильм это «Шалаш», вы обязательно посмотрите! Это моя первая короткометражка. Она посвящена Дню матери. А сейчас мы снимаем фильм «Куклы». </p>
                        <p>У меня дед был ранен в 42-ом и лежал в госпитале, а потом в тылу работал. Но про войну я никогда не хотел кино снять, там костюмы нужны. Где их взять? Мы сейчас деньги на  объектив и штатив собираем. Тысяч 20 нужно, мне бабушка помогла - 8 тысяч дала.</p>
                        <p>Чувство патриотизма у меня и моих сверстников есть и случись война, многие, наверное, пойдут защищать страну. </p>
                </section>
            </div><!-- col -->
          </div><!-- row -->  
         </div><!-- container --> 
      </article>
    
      <article id ="one">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6  col-xs-6">
                <section id= "first"> 
                  <%= image_tag("b2.png", class: "img-responsive img-circle", alt: "", id: "v1")%>
                           <h2>Ангелина Гурьева</h2>
                           <h3>ходит в детский сад</br>
                         cейчас 7 лет</h3>
                        <p>Я люблю маму, папу, бабушку, дедушку - всех люблю. А еще люблю глубоко нырять и гимнастикой заниматься. Я буду ходить в кружок по прыжкам в воду и мечтаю научиться прыгать с высоты.
                        Мне Дед Мороз на Новый год телефон принес, а родители на день рождения планшет подарили. Я там мультфильмы смотрю, играю, фотографирую все. В Интернете сижу. А еще у меня скоро день рождения и я пока не придумала, какой подарок хочу, может игрушку какую-нибудь.
                        </p>
                        <p>Для меня война — это плохо. Все стреляют, бомбы взрываются, есть нечего. Тогда все папы ушли на фронт, а мамы на фабрике работали, дети остались одни, им не с кем было дома сидеть. Они плакали и боялись, что в дом попадет бомба.</p>
                        <p>Если бы сейчас война началась, я защищала всех, боролась бы, хоть мне и семь лет всего. Маме по дому бы помогала и на фабрику с ней ходила. Если бы у меня был братик или сестренка, я б за ними ухаживала.</p>
                        <p>Мне было бы маленько страшно, война все-таки</p>
                </section>
            </div><!-- col -->
            <div class="col-md-5 col-md-offset-1 col-xs-6">
                <section class="second"><%= image_tag("v1.png", alt: "Галина Хомякова", class: "img-responsive img-rounded", id: "v1")%>
                     <h2>Галина Хомякова</h2>
                      <h3>жительница блокадного Ленинграда</br>
                      в 1941 году ей было 7 лет</h3>
                        <p>Когда началась война, мне было 7 лет. Стояла утром в булочной за хлебом, очередь была небольшая. Рядом женщины сказали, что началась война. Подумала: «ну, война-война», у других было смятение, а я не понимала, что это такое. Узнала через несколько месяцев, когда начали греметь канонады и бомбы. Ужас начался в сентябре с самой блокадой. Все 900 дней была в Ленинграде.</p>
                        <p>Есть хотелось всегда. Помню, варила суп и кастрюлю опрокинула. Плакала и собирала пшено ложкой. А пшена-то было чуть-чуть.
                        В затишье собирали в огородах листья от капусты, потом мама солила. Ходили за лебедой и крапивой, ели то, что можно было собрать, иначе бы не выжили.
                        </p>
                        <p>125 граммов хлеба - это был десерт. По карточкам давали немного крупы иногда чуть-чуть масла.</br>
                        Мы делали куколок из тряпочек: глазки нарисуем, платьица шьем. Играли в лапту, даже концерты ставили. На чердаке, вешали простыню, приглашали зрителей и что-то творили на импровизированной сцене.
                        </p>
                </section>
            </div><!-- col -->
          </div><!-- row -->  
         </div><!-- container --> 
      </article>
      <article id = "two">
        <h2>Article two</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <article id = "three">
        <h2>Article three</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <article id = "four">
        <h2>Article four</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
    </div>
<footer><%= image_tag("one.png", alt: "Imaginasion")%> </footer>